body {
    background-color: rgb(214, 214, 214);
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Sidebar Styles */
.sidebar {
    background-color: rgb(41, 38, 38);
    text-align: center;
    color: #00ff00;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
}

/* Sidebar Title */
.sidebar-text {
    margin: 0;
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
}

/* Sidebar Navigation */
.sidebar ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: 50px;
    margin-left: 10px;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar-image {
    text-align: center; /* Centre l'image */
    margin-top: 20px; /* Espace au-dessus */
}

.sidebar-image img {
    width: 65%; /* Limite la largeur de l'image */
    height: auto; /* Conserve les proportions */
    border-radius: 10px; /* Coins légèrement arrondis */
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Ajoute un effet au survol */
}

.sidebar-image img:hover {
    transform: scale(1.03); /* Agrandit légèrement l'image au survol */ /* Augmente l'ombre au survol */
}

.sidebar a {
    text-decoration: none;
    color: #00ff00;
    font-size: 18px;
    display: block;
    padding: 8px 15px;
    border: 1px solid transparent; /* Transition subtile */
    border-radius: 4px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #00ff002f; /* Survol vert vif */
    color: rgb(0, 0, 0); /* Texte devient foncé */
    border-color: #00ff002f;
}

/* État masqué : translate vers la gauche */
.sidebar.hidden {
    transform: translateX(-100%);
}

/* Style des liens avec effet glitch */
.li-glitch {
    display: inline-block;
    color: #00ff00; /* Couleur vert hacking */
    font-family: 'Courier New', Courier, monospace; /* Police rétro */
    font-size: 30px;
    text-decoration: none;
    position: relative; /* Nécessaire pour les pseudo-éléments */
    overflow: hidden; /* Empêche le glitch de dépasser */
    transition: color 0.2s ease-in-out;
}

.li-glitch:hover {
    color: #00cc00; /* Vert légèrement modifié au survol */
}

/* Glitch pseudo-éléments */
.li-glitch::before,
.li-glitch::after {
    content: attr(data-text); /* Affiche le même texte que le lien */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #00ff00;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
    animation: glitch-animation 1.5s infinite;
    opacity: 0.8;
}

.li-glitch::after {
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
    animation: glitch-animation2 1.5s infinite;
    opacity: 0.5;
}

/* Animation de glitch */
@keyframes glitch-animation {
    0% {
        transform: translate(2px, -2px);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(1px, -1px);
    }
    60% {
        transform: translate(-1px, 1px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes glitch-animation2 {
    0% {
        transform: translate(-2px, 2px);
    }
    20% {
        transform: translate(2px, -2px);
    }
    40% {
        transform: translate(-1px, 1px);
    }
    60% {
        transform: translate(1px, -1px);
    }
    80% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Bouton de bascule */
.toggle-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #00ff00;
    color: rgb(58, 58, 58);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000; /* Pour qu'il reste au-dessus */
    transform: translate3d(0, 0, 0); /* Active le GPU rendering pour Safari, parfois utile */

}

.toggle-button:hover {
    background-color: #00cc00;
}

/* Conteneur principal */
.main-container {
    margin-left: 10%;
    padding: 20px;
    flex: 1; /* Prend tout l'espace disponible */
    transition: margin-left 0.3s ease-in-out; /* Transition fluide */
    align-items: center;
}

/* Lorsque la sidebar est masquée */
.main-container.full-width {
   margin-left: 0;
}

.container-index {
    margin: 0;
    margin-left: 15%;
    padding: 20px;
    margin-top: 2.5%;
    background-color: rgba(20, 20, 20, 0.9);
    color: #00ff00;
    max-width: 70%;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease forwards;
}

.container-index:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ff00, 0 0 40px #00ff00;
}

/* Personnalisation de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    height: 12px; /* Hauteur de la barre de défilement horizontale */
}

/* Personnalisation de la "goutte" de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: #00ff00; /* Couleur de la goutte (partie qui se déplace) */
    border-radius: 10px; /* Coins arrondis */
    border: 3px solid #00cc00; /* Bordure autour de la goutte */
}

/* Personnalisation de la zone de la barre de défilement (l'arrière-plan) */
::-webkit-scrollbar-track {
    background-color: #222222; /* Couleur du fond de la barre */
}

/* Optionnel: personnaliser la barre de défilement horizontale */
::-webkit-scrollbar-horizontal {
    height: 8px; /* Taille de la barre de défilement horizontale */
}

/* Personnalisation de la "goutte" horizontale */
::-webkit-scrollbar-thumb:horizontal {
    background-color: #00ff00; /* Couleur de la goutte horizontale */
}

.container-index h2 {
    font-size: 39px;
    color: #00ff00;
    position: relative;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-index::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 255, 0, 0.1) 0%,
        rgba(0, 255, 0, 0.2) 50%,
        rgba(0, 255, 0, 0.1) 100%
    );
    z-index: -1;
    pointer-events: none;
    border-radius: 20px;
}

.button-knowmore {
    display: inline-block;
    padding: 15px 30px;
    background-color: #222; /* Fond sombre pour un effet terminal */
    color: #00ff00; /* Texte vert typique des écrans de hacking */
    border: 2px solid #00ff00; /* Bordure verte */
    border-radius: 4px; /* Coins légèrement arrondis */
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace; /* Police à chasse fixe */
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative; /* Nécessaire pour l'effet glitch */
    overflow: hidden; /* Pour éviter que le glitch dépasse */
}

.button-knowmore:hover {
    background-color: #111; /* Fond encore plus sombre au survol */
    color: #00cc00; /* Vert légèrement modifié */
    transform: scale(1.15); /* Zoom léger */
    box-shadow: 0 0 8px #00ff00, 0 0 15px #00ff00; /* Effet néon */
}

/* Effet actif */
.button-knowmore:active {
    transform: scale(1.98);
    box-shadow: 0 0 4px #00ff00;
}

/* Effet glitch */
.button-knowmore::before, .button-knowmore::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff00;
    opacity: 0.1;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: glitch 0.7s infinite;
}

.button-knowmore::after {
    animation: glitch 0.7s infinite, glitch2 1.2s infinite;
}

@keyframes glitch {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
        transform: translate(-5px, -5px);
    }
    50% {
        clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0 100%);
        transform: translate(5px, 5px);
    }
    100% {
        clip-path: polygon(0 30%, 100% 30%, 100% 70%, 0 70%);
        transform: translate(-5px, -5px);
    }
}

@keyframes glitch2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
        transform: translate(5px, 5px);
    }
    50% {
        clip-path: polygon(0 50%, 100% 50%, 100% 80%, 0 80%);
        transform: translate(-5px, -5px);
    }
    100% {
        clip-path: polygon(0 20%, 100% 20%, 100% 50%, 0 50%);
        transform: translate(5px, 5px);
    }
}

/* Conteneur pour l'animation */
#background {
    position: fixed; /* Utilisation de fixed pour qu'il reste en place pendant le défilement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Derrière le contenu */
    background: #000; /* Fond noir */
    overflow: hidden; /* Evite que le fond dépasse */
}

/* Style des caractères */
.hacking-char {
    position: absolute;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00; 
    animation: fall 4s linear infinite;
    pointer-events: none; 
}

/* Animation pour faire tomber les caractères */
@keyframes fall {
    0% {
        top: -10%;
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        top: 110%;
        opacity: 0;
    }
}

.fade-in {
    opacity: 0; /* Invisible au départ */
    transform: translateY(20px); /* Déplacement léger vers le bas */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Transition fluide */
}

.fade-in.visible {
    opacity: 1; /* Devient visible */
    transform: translateY(0); /* Revient à sa position d'origine */
}

.competences {
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Styles pour chaque compétence */
.competence {
    margin: 15px 0;
}

.competence-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* Styles pour la barre de progression */
.progress-bar-container {
    background-color: #e0e0e0; /* Fond gris clair */
    border-radius: 10px;
    overflow: hidden; /* Pour que la barre ne dépasse pas les bords */
    width: 100%;
    height: 25px;
}

.progress-bar {
    background-color: #4caf50; /* Couleur de la barre (ici, vert) */
    height: 100%;
    transition: width 1s ease-in-out; /* Animation de changement de largeur */
}

/* Styles pour les barres avec un niveau faible */
.progress-bar[data-level="low"] {
    background-color: #f44336; /* Rouge */
}

/* Styles pour les barres avec un niveau moyen */
.progress-bar[data-level="medium"] {
    background-color: #ff9800; /* Orange */
}

/* Styles pour les barres avec un niveau élevé */
.progress-bar[data-level="high"] {
    background-color: #4caf50; /* Vert */
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Section des expériences */
.experiences-section {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
    position: relative;
    animation: fade-in 1s ease forwards;
    left:7%; 
}

.experiences-section h2 {
    font-size: 36px;
    color: #00ff00;
    margin-bottom: 50px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les expériences */
}

.experience {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.experience:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00;
    z-index: 9999 !important;
}

.experience-title {
    font-size: 24px;
    color: #00ff00;
    margin: 0;
}

.experience-date {
    font-size: 14px;
    color: #cccccc;
    margin-top: 5px;
    display: block;
}

.experience-description {
    font-size: 18px;
    color: #00ff00;
    margin-top: 10px;
    line-height: 1.5;
}

/* Glitch effect on titles */
.experience-title::before,
.experience-title::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #00ff00;
    opacity: 0.8;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
    animation: glitch-animation 1.5s infinite;
}

.experience-title::after {
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
    animation: glitch-animation2 1.5s infinite;
}

.hr-loisir {
    background-color: #000; /* Couleur de fond de la ligne */
    color: #000; /* Couleur du texte s'il y en a, bien que non utilisé pour <hr> */
    border: none; /* Supprime les bordures par défaut */
    height: 2px; /* Épaisseur de la ligne */
    margin: 20px 0; /* Espacement vertical autour de la ligne */
    border-radius: 2px; /* Arrondit les bords */
    box-shadow: 0 0 5px #00ff00, 0 0 15px #00ff00; /* Effet de lueur */
    animation: hr-glow 2s infinite alternate; /* Animation de lueur */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #00ff00;
    border-radius: 5px;
    background: #1a1a1a;
    color: #00ff00;
}

textarea {
    resize: none;
    height: 100px; 
}

.button-form {
    width: 100%;
    padding: 10px;
    border: none;
    background: #00ff00;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button-form:hover {
    background: #00cc00;
}

#statusMessage {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

/* Animation pour l'effet de glow pulsant */
@keyframes hr-glow {
    0% {
        box-shadow: 0 0 5px #00ff00, 0 0 15px #00ff00;
    }
    100% {
        box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00;
    }
}


/* Styles pour la gestion de la visibilité du main-container */
@media (max-width: 768px) {

    .hr-loisir {
        height: 1px; /* Réduit l'épaisseur pour un look minimaliste */
        margin: 15px auto; /* Réduit l'espacement vertical */
        box-shadow: 0 0 3px #00ff00, 0 0 10px #00ff00; /* Réduit l'intensité de la lueur */
    }

    /* Styles pour la sidebar en mode plein écran */
    .sidebar {
        width: 100%;
        height: 100vh;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        display: block; /* Assurez-vous que la sidebar est bien visible */
    }

    /* Masquer le main-container lorsque la sidebar est active */
    .sidebar.fullscreen ~ .main-container {
        display: none; /* Masque le main-container si la sidebar est en mode fullscreen */
    }

    /* Rendre le main-container visible lorsque la sidebar n'est pas active */
    .sidebar:not(.fullscreen) ~ .main-container {
        display: block; /* Affiche le main-container lorsque la sidebar est fermée */
    }

    .sidebar-text {
        font-size: 20px; /* Réduit la taille de la police */
        margin-top: 20px; /* Moins d'espace en haut */
    }

    .sidebar ul {
        margin-top: 20px; /* Moins d'espace entre les éléments */
        text-align: center;
    }

    .sidebar li {
        margin: 5px 0; /* Moins d'espacement entre les éléments */
    }

    .sidebar a {
        font-size: 16px; /* Taille plus petite pour les liens */
        padding: 6px 10px; /* Réduction du padding */
    }

    .sidebar-image img {
        width: 50%; /* Image plus petite */
        margin-top: 10px; /* Moins d'espace en haut */
    }

    .experiences-section {
        margin: 20px 10px;
    }

    .experience {
        padding: 10px;
    }

    .experience-title {
        font-size: 20px;
    }

    .experience-description {
        font-size: 16px;
    }

    /* Styles pour le bouton de bascule (hamburger) */
    .toggle-button {
        position:fixed;
        font-size: 25px; /* Augmenter la taille de la police pour les petits écrans */
        padding: 12px 20px; /* Augmenter légèrement l'espacement interne */
        left: 20px; /* Placer un peu plus à gauche si nécessaire */
        bottom: 20px; /* Placer un peu plus bas si nécessaire */
        background-color: #00cc00; /* Fond vert lors de l'état normal */
        z-index: 9999; /* Assurer une priorité haute sur les autres éléments */
        transform: translate3d(0, 0, 0); /* Active le GPU rendering pour Safari, parfois utile */
    }

    .toggle-button:hover {
        background-color: #00b300; /* Changer la couleur au survol */
    }

    /* Styles pour le conteneur principal */
    .main-container {
        margin-left: 0; /* Réinitialise le margin-left sur mobile */
        padding: 15px; /* Réduit le padding */
        display: block; /* Assure que le main-container soit visible */
    }

    .main-container.full-width {
        margin-left: 0; /* Si la sidebar est masquée */
    }

    /* Conteneur `.container-index` */
    .container-index {
        margin-left: 5%; /* Centré avec moins de marge */
        margin-top: 10%; /* Moins d'espace au-dessus */
        max-width: 90%; /* Largeur quasi-pleine */
        font-size: 16px; /* Texte plus petit */
        padding: 15px; /* Réduction du padding */
    }

    .container-index h2 {
        font-size: 24px; /* Réduction de la taille des titres */
    }

    /* Styles pour le bouton */
    .button-knowmore {
        font-size: 16px; /* Texte plus petit */
        padding: 10px 20px; /* Moins de padding */
    }
}

/* Pour très petits écrans (moins de 480px) */
@media (max-width: 480px) {
    .sidebar {
        width: 100%; /* Réduction supplémentaire de la barre latérale */
        padding: 5px 0; /* Padding minimal */
    }

    .sidebar-text {
        font-size: 18px; /* Encore plus petit */
    }

    .sidebar a {
        font-size: 14px; /* Taille des liens adaptée */
    }

    .sidebar-image img {
        width: 40%; /* Image encore plus petite */
    }

    .toggle-button {
        font-size: 14px; /* Bouton plus petit */
        padding: 5px 8px; /* Padding minimal */
    }

    .main-container {
        margin-left: 70%; /* Ajustement en conséquence */
    }

    .main-container.full-width {
        margin-left: 0;
    }

    .container-index {
        margin-left: 2%; /* Centré avec une marge minimale */
        max-width: 96%; /* Quasiment plein écran */
        font-size: 14px; /* Texte plus petit */
        padding: 10px; /* Padding réduit */
    }

    .container-index h2 {
        font-size: 20px; /* Taille des titres plus petite */
    }

    .button-knowmore {
        font-size: 14px;
        padding: 8px 15px;
    }
}