<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio | Home</title>
    <link rel="stylesheet" type="text/css" href="/static/styles-index.css"/>
</head>
<body>
    <div id="background"></div>
    <!-- Barre latérale -->
    <div class="sidebar" id="sidebar">
        <h1 class="sidebar-text">
            PortFolio<br>Noa Fontaine
        </h1>
        <ul>
            <li><a href="caca.fr">Home</a></li>
            <li><a href="caca">Compétences</a></li>
            <li><a href="caca">Expériences</a></li>
            <li><a href="caca">Loisirs</a></li>
            <li><a href="caca">CV</a></li>
            <li><a href="caca">Contact</a></li>
        </ul>
    </div>

    <!-- Bouton pour afficher/masquer la barre latérale -->
    <button id="toggleButton" class="toggle-button">☰</button>

    <!-- Conteneur principal -->
    <div id="main-container" class="main-container">
        <div class="container">
            <h2>Bienvenue dans mon portfolio</h2>
            <p>Ici vous trouverez des informations sur moi.</p>
            <p>Bonne Visite :)</p>
        </div>
    </div>

    <!-- Inclusion du script -->
    <script src="/static/script.js"></script>
</body>
</html>
